<div class="container">
  <div class="box1">
    <h3>Formatowanie</h3>
    <p>Kolor tekstu:</p>
    <input type="text">
    <p>Obramowanie:</p>
    <input type="text">
    <p>Kolor tła:</p>
    <input type="text">
    <p>Cień:</p>
    <input type="text">
  </div>
  <div class="box2">
    <h3>Pogląd formatowania</h3>
    <p>Pole tekstowe</p>
    <input type="text">
    <p>Przycisk</p>
    <input type="text">
    <p>Element blokowy</p>
    <input type="text">
  </div>
  
</div>


<div>
  <h3>Wygenorwany kod CSS</h3>
</div>